/* Outer most div/container */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* div for the 2 buttons */

.buttons{
    display: flex;
    gap: 325px;
    padding: 20px;
}

/* Makes the width for the container div a static 500x500 px */

.container{
    display: grid;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: black;
}

/* style optione for the 256 divs */

.items{
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
}